.body {
    display: block;
    width: 100%;
    height: 100%;
    background-color: hsl(229, 52%, 28%);
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.home-logo {
    display: none;
    justify-content: center;
    padding: 2px;
    width: 5%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    background-color:silver;
}

.nav-links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.link {
    display: flex;
    text-align: center;
    width: 10%;
    background-color: rgba(47, 230, 10, 0.808);
    border-radius: 5px;
}

a:hover.link {
    border-bottom-style: ridge;
    border-bottom-color: rgb(78, 31, 31);
    border-left-style: ridge;
    border-left-color: rgb(78, 31, 31);
    color: black;
}

@media screen and (max-width: 990px) {
    .nav-links {
        display: none;
    }
    .home-logo {
        display: flex;
    }
    .date-time {
        display: flex;
        justify-content: flex-end;
        width: 95%;
    }

}

.search {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.date-time {
    display: none;
    color: hsl(211, 41%, 37%);
    justify-content: right;
}

.header {
    display: flex;
    width: 100%;
}

.header-app {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    background-color: hsl(211, 51%, 42%);
}

.app {
    width: 25%;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
}

.ico-li {
    display: flex;
}

.ico-app {
    display: flex;
    width: 40%;
}

.h1 {
    background-repeat: no-repeat;
    text-align: center;
    background-size: 45px;
    background-image:url(../img/steam-img.jpg);
    font-size: 15px;
    text-align: right;
    margin: 15px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    margin: 5px;
    font-size: 20%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: darkgray;
}

.image-art{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.second-title {
    width: 100%;
    text-align: center;
    margin: 2%;
    background-color: hsl(211, 46%, 30%);
    color: black;

}
.aside {
    display: flex;
    width: 40%;
    text-align: right;
    background-color: hsl(211, 41%, 37%);
}

.ads {
    display: none;
}

.bottom-pag {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:hsl(229, 52%, 28%);
}

.bottom-log {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: hsl(229, 52%, 28%);
    color: white;
}

.rights-reserve {
    display: flex;
    width: 100%;
    font-size:10%;
    align-content: center;
    justify-content: center;
    background-color: hsl(215, 28%, 63%);
}

@media screen and (min-width: 720px) {
    .header1 {
        background-color:silver;
        font-size: 18px;
        text-align: center;
    }
    .image {
        align-items:
        width: 30%;
        height: 30%;
    }

     .container {
        display: flex;
    }

    .ads {
        display: flex;
    }
    .search {
        display: block;
        width: 100%;
    }

    .search-nav {
        display: flex;
    }

    .search-bar {
        display: flex;
        width: 20%;
    }
    .search-button {
        display: flex;
        width: 5%;
    }

    .data-time{
        display: flex;
    }

}