.container {
        display: flex;
}

.article {
        width: 65%;
        flex-direction: column;
        position: relative;
        text-align: right;
        font-size: 0.8em;
}
.header-app {
    list-style:none;
}
.aside {
        width: 35%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
}
.image-art {
        width: 20%;
        display: flex;
}

@media screen and (max-width: 1020px) {
        .header1 {
            display: flex;
            background-color: greenyellow;
            text-align: center;
    }

}