@media screen and (max-width: 1200px) {
    .header1 {
        background-color: greenyellow;
        text-align: center;
    }

    .container {
        display: flex;
    }

    .article {
        width: 65%;
        flex-direction: column;
        position: relative;
        text-align: right;
        font-size: 10px;
    }

    .header-app {
        list-style:none;

    }

    .aside {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .image-art {
        width: 20%;
        display: flex;
    }

}