.body {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
}

.social-media {
    display: flex;
    width: 100%;
}

.social-media-app {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    background-color:#7CFC00;
}
.app {
    width: 25%;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
}

.ico-li {
    display: flex;
}

.ico-app {
    display: flex;
    width: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    margin: 5px;
    font-size: 20%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.prueba {
    display: flex;
    width: 40%;
    text-align: right;
    background-color: yellow;
}

.ads {
    display: none;
}

.nav-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color:#000000;
    color:white;
    font-size: 13px;
}

a:hover {
    color:#7FFF00;
}

section {
    color:black;
}

.image {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.car-img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;a
}

.bot-img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
}
.h1 {
    background-repeat: no-repeat;
    text-align: center;
    background-size: 25px;
    background-image: url("../img/korea-flag.bmp");
    font-size: 17px;
    text-align: center;
    margin: 15px;
}

.bottom-pag {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#7CFC00;
}

.bottom-log {
    display: flex;
    flex-direction: ;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.rights-reserv {
    display: flex;
    width: 100%;
    font-size:10%;
    align-content: center;
    justify-content: center;
}

@media screen and (min-width: 720px) {
    .header1 {
        background-color: red;
        font-size: 18px;
        text-align: center;
    }
    .image {
        width: 30%;
        height: 30%;
    }
     .container {
        display: flex;
    }

    .ads {
        display: flex;
    }

}