* {
    box-sizing: border-box;
}
@media (min-width: 480px) {

.container {
    display: flex;
}

header {
    color:black;
    border-style: dotted;
}
nav {
    color:black;
    border-style: dotted;
}
section {
    color:black;
    border-style: dotted;
}